/* so I got all the files for the portfolio page out of the repo becuase I didnt make one for homework in week 1.
I still feel like I'm behind, but do think I am making some progress. However some things
like making the main container smaller, having a grey background, and getting the scroll bar off the header,
I couldnt really figure out, even after a lot tinkering with.*/





@media screen and (max-width: 980px) {  
    #main-container {
        width: 780px;
        margin: auto;
    }

    
  
  
    
    /* #contact-form {            couldnt figure out how to make the contact form smaller on the size???? 
        align-content: center;
       width: 20%;
    }                  */
    
}

@media screen and (max-width: 768px) {  
    #main-container {
        width: 680px;
        margin: auto;
    }
   
    p {
        font-size: 90%;
    }
    
    .work {
        width: 40%;
    }
        
}

@media screen and (max-width: 640px) {  
    #logo {
        width: 100%;
        clear: both;
    }

    #navy {
        align-self: center;
        margin-right: 28%;
        
    }
    
    #main-container {
        width: 480px;
        margin: auto;
        max-width: 100%;
    }

    .auth-image {
        width: 100%;
        float: left;
        clear: both;
    }
 
    p {
        font-size: 75%;
    }
  

    .work {
        
        width: 100%;
    }
    
}


